@import "./base.css";

.color-primary {
  color: #34495e;
}

.btn-main {
  background-color: #34495e;
  color: #fff;
  padding: 0.4rem 1.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-main:hover {
  background-color: #243241;
}

.btn-action {
  background-color: #48b883;
  color: #fff;
  padding: 0.4rem 1.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-action:hover {
  background-color: #33956b;
}

a {
  color: #fff;
  text-decoration: none;
}
